<div class="col-lg-3">
  <div class="well sidebar-nav">
    <h3> MENU </h3>
    <ul class="nav nav-list">
    	<h1> POKOJE </h1>
    <!--   <li class="nav-header">Sidebar</li> -->
      	<% @rooms.each do |room| %>
		<p>	<%= link_to room.name, main_room_path(room)  %> </p>
		<% end %>

		<h1> KATEGORIE </h1>

		<% @categories.each do |cat| %>
		<p>	<%= link_to cat.name , main_category_path(cat) %> </p>
		<% end %>
    </ul>
  </div><!--/.well -->
</div><!--/span-->